name: release
on:
  push:
    branches:
    - release*
    tags:
    - v*
  pull_request:
    paths: [".github/workflows/release.yml"]
  workflow_dispatch:

jobs:
  release:
    uses: langston-barrett/gha/.github/workflows/rust-release.yml@6292a6a380c64b0d40ee22384fb96d21bc74667c
    permissions:
      contents: write
    secrets:
      crates-io-token: ${{ secrets.CRATES_IO_TOKEN }}
